vendor
Packages
.idea
/.test-distribution/
/.docker/*/data/

/.php-cs-fixer.php
/.php-cs-fixer.cache
/phpstan.neon
/phpunit.xml
/.phpunit.cache/
/.phpunit.result.cache
/.phpcs-cache
/phpcs.xml
/composer.lock