parameters:
  level: max

  paths:
    - Classes
    - Tests

  scanDirectories:
    - Packages/Framework/Neos.Flow/Tests

  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  treatPhpDocTypesAsCertain: false

includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
